:root {
  --beb: "Bebas Neue", sans-serif;
  --mont: "Montserrat", sans-serif;
  --pop: "Poppins", sans-serif;
}

/* navbar */
.header {
  padding: 20px 30px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9999;
  background: transparent;
}

.header .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header .nav li {
  list-style: none;
}

.header .nav li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.header .nav li a:hover {
  text-shadow: 0 0 2px #00ffff;
  color: #00ffff;
}

.header .nav li a::after {
  content: "";
  padding-bottom: 0.5rem;
  display: block;
  border-bottom: #00ffff solid 2px;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.header .nav li a:hover::after {
  transform: scaleX(0.8);
}

/* card */
.card-content {
  width: 200px;
  height: 300px;

  background-position: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s linear;
}

.card2 {
  padding: 20px;
  background-color: #201137;
  width: 280px;
  color: #ffffff;
  height: 230px;
  box-shadow: 0 0 20px #000;
  transition: 0.3s ease-in-out;
}

.card2:hover {
  box-shadow: 0 0 30px #00ffff;
  transform: scale(1.05);
}

.card2 img {
  width: 50px;
  margin-bottom: 20px;
  fill: #ffffff;
  filter: drop-shadow(0 0 2px);
}

.card2 h3 {
  font-size: 1.6rem;
  font-family: var(--pop);
}

.card2 p {
  font-size: 1rem;
  font-weight: 200;
  font-family: var(--pop);
}

/* responsive */
@media screen and (max-width: 1200px) and (min-width: 600px) {
  .header {
    padding: 20px 20px;
  }

  .card2 {
    width: 280px;
    height: 230px;
    padding: 15px;
  }

  .card2 h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .card2 p {
    font-size: 1rem;
  }

  .card2 img {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    padding: 30px 0px;
  }

  .header .nav ul {
    gap: 15px;
  }

  .header .nav li a {
    text-decoration: none;
    font-size: 0.8rem;
  }

  .card2 {
    width: 220px;
    height: 220px;
    padding: 15px;
  }

  .card2 h3 {
    font-size: 1.2rem;
  }

  .card2 p {
    font-size: 0.8rem;
  }

  .card2 img {
    margin-bottom: 30px;
  }
}
